# ================
# Infrastructure
# ----------------

# Local .terraform directories
.terraform/

# .tfstate files
.tfstate
.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Automated variables file (usually CI/CD-built).
# Ignored for use in local testing. Should be generated as needed by the CI/CD system.
terraform.auto.tfvars.json

# Ignore any local generated plans... because that's something to be added to the repo..
# Right?
*tfplan*

# ----------------
# End of Infrastructure
# ================

# ================
# Python
# ----------------

# Virtual development environment
.dev/

# ----------------
# End of Python
# ================

# ================
# Development Tools
# ----------------

# Visual Studio Code directory
.vsc/

# ----------------
# End of Development Tools
# ================
